{% load static %}
<section id="linguagens" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              {% for f in ferramentas %}
              <div class="item">

                <div class="testimonial-item">

                  <div class="img-thumb">
                    <img src="{{ f.imagem.thumb.url }}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">{{ f.titulo }}</a></h2>
                    <h3><a href="#">{{ f.subtitulo }}</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">{{ f.descricao }}...</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>

                </div>

              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </section>